@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

section
{
    margin: 45px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 160vh;
    padding: 60px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;   
    font-family: 'Sniglet';
}
.content
{
    transform: translateX(-160px);
    max-width: 500px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}
.content h1
{
    font-size: 2em;
    color:  #740325;
}
.content p
{
    font-size: 1.2em;
    color:  #740325;
}
.content a
{
    display: inline-block;
    padding: 15px 30px;
    background: white;
    color: #740325;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
.img img
{
    max-width: 300px;
    animation: animate 2s linear infinite;
}
@keyframes animate
{
    0%, 100% 
    {
        transform: translateY(1px);
    }
    50% 
    {
        transform: translateY(50px);
    }
}